<ion-view class="walkthrough-view">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col col-center">
        <img ng-src="img/logo.png">
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <button class="login button button-block button-stable" ng-click="goToLogIn()">
        Giriş Yap
        </button>
        <button class="sign-up button button-block button-stable" ng-click="goToSignUp()">
          Hesap Oluştur
        </button>
          <button class="fblogin button button-block button-stable"  onclick="login()">
              Facebook ile bağlan
          </button>
      </div>
    </div>
  </ion-content>
</ion-view>
